body {
  background-color: #202020;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.calculator-body, tr, td {
  text-align: center;
}

h1, h3 {
  color: white;
}

.outside-border {
  margin: 5rem auto;
  border: 1px solid white;
  border-radius: 10px;
}

td {
  width: 80px;
  height: 80px;
  font-size: 32px;
  font-weight: bold;
  background-color: rgb(255, 255, 255);
}

.dot-1 {
  color: red;
}

.dot-2 {
  color: orange;
}

.dot-3 {
  color: green;
}

.dot {
  font-size: 15px;
  padding-right: 2px;
  vertical-align: top;
}

.number-input {
  background-color: rgba(20, 20, 20, 0.8);
  font-size: 40px;
  padding: 10px 0 10px 0;
  text-align: right;
  color: rgb(255, 255, 255);
  border: 0;
}

.number-field {
padding: 0;
height: 50PX;
}

.operators-horizontal {
  background-color: rgba(122, 121, 121, 0.8);
  color: rgb(255, 255, 255);
}

.operators-vertical {
  background-color: rgba(80, 80, 80, 0.8);
  color: rgb(255, 255, 255);
}

/* .toolbar {
  vertical-align: top;
} */

.toolbar-items {
  text-align: left;
  padding: 10px 0 0 10px;
  background-color: rgba(20, 20, 20, 0.8);
  height: 30px;
}